# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
cucumber-json
allurectl
allure-results
__diff_output__
screenshots

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

.env
